.leeloo_product_name {
    font-size: 16px;
    text-align: center;
}
.leeloo_product_details {
    font-size: 14px;
    text-align: center;
}
.leeloo_productdiv {
    text-align: center;
    font-size: 16px;
}
.leeloo_product {
    width: 33%;
    float: left;
    padding: 10px;
    margin: 5px 0px;
}
iframe.leeloo_frame {
    width: 100%;
    height: 400px;
    border: 0;
}